# Compiled output
dist/

# Node/npm
node_modules/

# Ephemeral data
db.json

# Logs
logs
*.log
npm-debug.log*

# NestJS
/schema.gql

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Tests
/coverage

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
*.pem
