# compiled output
dist/

# Node/npm
node_modules/
package-lock.json
package.json

# Logs
logs
*.log
npm-debug.log*

# Next.js
.next/
out/

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Tests
/coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
*.pem
